# Use GraphLab Create

In [3]:
import graphlab

# Read a dataset

In [10]:
sf = graphlab.SFrame('people_example.csv')

Finished parsing file C:\Users\Administrator\新建文件夹\people_example.csv

Parsing completed. Parsed 5 lines in 0.107584 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 5 lines. Lines per second: 121.877

Finished parsing file C:\Users\Administrator\新建文件夹\people_example.csv

Parsing completed. Parsed 5 lines in 0.046027 secs.

In [5]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int

Rows: 5

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | Age |
+------------+-----------+---------------+-----+
|    Bob     |   Simith  | United States |  24 |
|   Alice    |  Wiliams  |     Canada    |  23 |
|   Malcko   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
+------------+-----------+---------------+-----+
[5 rows x 4 columns]

if the table is too big, and we only want to check its previous rows

In [11]:
sf.head

<bound method SFrame.head of Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int

Rows: 5

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | Age |
+------------+-----------+---------------+-----+
|    Bob     |   Simith  | United States |  24 |
|   Alice    |  Wiliams  |     Canada    |  23 |
|   Malcko   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
+------------+-----------+---------------+-----+
[5 rows x 4 columns]
>

tail rows

In [7]:
sf.tail

<bound method SFrame.tail of Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int

Rows: 5

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | Age |
+------------+-----------+---------------+-----+
|    Bob     |   Simith  | United States |  24 |
|   Alice    |  Wiliams  |     Canada    |  23 |
|   Malcko   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
+------------+-----------+---------------+-----+
[5 rows x 4 columns]
>

# GraphLab Canvas

In [9]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:26233/index.html
Opening Canvas in default web browser.

In [12]:
graphlab.canvas.set_target('ipynb')

In [13]:
sf['Age'].show(view='Categorical')

# operate with column

In [14]:
sf['Country']

dtype: str
Rows: 5
['United States', 'Canada', 'England', 'USA', 'Poland']

In [13]:
sf['Age']

dtype: int
Rows: 5
[24L, 23L, 22L, 23L, 23L]

In [14]:
sf['Age'].mean()

23.0

In [15]:
sf['Age'].max()

24L

In [16]:
sf['Age'].min()

22L

# add a new column

In [15]:
sf['Full Name'] = sf['First Name']+ ' '+sf['Last Name']

In [18]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int
	Full Name	str

Rows: 5

Data:
+------------+-----------+---------------+-----+---------------+
| First Name | Last Name |    Country    | Age |   Full Name   |
+------------+-----------+---------------+-----+---------------+
|    Bob     |   Simith  | United States |  24 |   Bob Simith  |
|   Alice    |  Wiliams  |     Canada    |  23 | Alice Wiliams |
|   Malcko   |    Jone   |    England    |  22 |  Malcko Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown  |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper  |
+------------+-----------+---------------+-----+---------------+
[5 rows x 5 columns]

In [19]:
sf['Age']+2

dtype: int
Rows: 5
[26L, 25L, 24L, 25L, 25L]

In [20]:
sf['Age'] * sf['Age']

dtype: int
Rows: 5
[576L, 529L, 484L, 529L, 529L]

# use apply function to transfer data

In [19]:
def transfer_country(country):
    if(country == 'USA'):
        return "United States"
    else:
        return country

In [21]:
sf['Country']=sf['Country'].apply(transfer_country)

In [22]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int
	Full Name	str

Rows: 5

Data:
+------------+-----------+---------------+-----+---------------+
| First Name | Last Name |    Country    | Age |   Full Name   |
+------------+-----------+---------------+-----+---------------+
|    Bob     |   Simith  | United States |  24 |   Bob Simith  |
|   Alice    |  Wiliams  |     Canada    |  23 | Alice Wiliams |
|   Malcko   |    Jone   |    England    |  22 |  Malcko Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown  |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper  |
+------------+-----------+---------------+-----+---------------+
[5 rows x 5 columns]